<div class="medium-4 large-4 columnGallery" >
	<div class="gallery shadow">
		<a href="/entry-details-page/{{entryid}}/{{pictureid}}" class="artist-avatar"><img src="{{fileurl}}"></a>
		<div class="artist-name">
			<a href="/public/{{firstname}}-{{surname}}" class="username">{{artist}}</a>
			<a href="/public" class="artist-username">{{username}}</a>
		</div>
		<span class="view-count">{{view_count}} views</span>
		<a href="/entry-details-page/{{entryid}}/{{pictureid}}" class="photo-tile-title">{{title}}</a>
		<div class="action">
			<div data-date="2013-12-06T22:13:37.122Z" class="story-date moment fromNow">Entry: 2012</div>
			<div class="story-tile-thumbnail"><a href="/entry-details-page/{{entryid}}/{{pictureid}}"><img src="{{fileurl}}"></a></div>
		</div>
	
	</div>	
</div>
